<main class="px-3">
    <h1 id="firstAlert">  <%= pageTitle %> </h1>
    <!-- <img src="./public/images/pexels-jill-wellington-39853.jpg" alt="images why programming is important"> -->
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the
      text, and add your own fullscreen background photo to make it your own.</p>
      <h3> <%= someVariable  %> </h3>
      <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
    </p>
  </main> 
