<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="../public/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="#"><i class="bi bi-1-circle"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="bi bi-2-square"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="bi bi-3-circle-fill"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="liveToastBtn"><i class="bi bi-4-square-fill"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="carouselExampleControls" class="container p-5 carousel carousel-dark slide" style="width: 300px" 
data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://i.pinimg.com/originals/c9/40/a3/c940a3dae3900d100990e5b697ef196c.jpg" class="d-block 
w-100" alt="Pikachu 1">
          </div>
          <div class="carousel-item">
            <img src="https://cdn.pixabay.com/photo/2016/09/09/11/59/pokemon-1656997_960_720.png" class="d-block w-100" 
alt="Pikachu 2">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" 
data-bs-slide="prev">
          <span class="carousel-control-prev-icon "></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" 
data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="text-center">
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
          <button type="button" class="btn btn-danger">Left</button>
          <button type="button" class="btn btn-warning">Middle</button>
          <button type="button" class="btn btn-success">Right</button>
        </div>
      </div>
      <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
            <strong class="me-auto">Bootstrap</strong>
            <small>11 mins ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
            Hello, world! This is a toast message.
            </div>
        </div>
      </div>
      <script src="../public/javascripts/bootstrap.bundle.min.js"></script>
      <script src="../public/javascripts/jquery-3.6.0.js"></script>
      <script>
        $(document).ready(function(){
            $("#liveToastBtn").click(function(){
                $("#liveToast").toast("show");
            });
        });
      </script>
  </body>
</html>